
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Bootstrap override
@import "bootstrap-override";

// Navbar Fixed Side
@import "navbar-fixed-side";

// vue modal
@import "vue-modal";

nav ul li a {
	text-align:center;
}

.action-icon {
  cursor:pointer;
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    text-align:center;
}

.home-bg {
    background-color: #0F5276;
    background-size: contain;
    background-image: -webkit-radial-gradient(0 0,circle,#0F5276,#87D7CD);
    background-image: radial-gradient(circle at 0 0,#0F5276,#87D7CD);
    z-index: -1;
}

.search-checkbox {
  padding: 3px;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

  .vertical-align-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.delete-icon {
  color: $brand-danger;
}

.edit-icon {
  color: $brand-success;
}