
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Bootstrap override
@import "bootstrap-override";

// Navbar Fixed Side
@import "navbar-fixed-side";

// vue modal
@import "vue-modal";

nav ul li a {
	text-align:center;
}


.action-icon {
  cursor:pointer;
}

.attributes ul li {
  font-size: small;
  list-style-type:none; 
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    text-align:center;
}

.btn {
  margin-bottom:10px;
}

.btn-center {
    margin:0 auto;
}

.disabled-action {
    color: $gray-lighter;
    cursor: not-allowed;
}

.home-bg {
    background-color: #0F5276;
    background-size: contain;
    background-image: -webkit-radial-gradient(0 0,circle,#0F5276,#87D7CD);
    background-image: radial-gradient(circle at 0 0,#0F5276,#87D7CD);
    z-index: -1;
}

.landing-page-bg {
    background-image: linear-gradient( 135deg, #FCCF31 0%, #F55555 100%);
}

.ingredient-list ul li {
    list-style-type:none;
}

.list-action {
    /* padding:3px; */
    cursor: pointer;
}

.list-img {
    margin-right:7px;
    margin-bottom:5px;
    float:left;
}

.mobile-navbar a {
  color:#333;
}

.navbar-btn {
    padding: 14px 15px;
    font-size: 18px;
    line-height: 22px;
    height: 50px;
    color:#333;
}

.save-icon {
  color: $brand-primary;
}

.search-checkbox {
  padding: 3px;
}

.strong {
  font-weight:bold;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

  .vertical-align-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.delete-icon {
  color: $brand-danger;
}

.edit-icon {
  color: $brand-success;
}

/*************************
NAVBAR FIXED SIDE OVERRIDE
*************************/
@media (min-width: 768px) {
  .navbar-fixed-side .navbar-collapse,
  .navbar-fixed-side .navbar-nav > li > a {
      border-bottom: $brand-primary-darker;
  }
}

/* SCROLLBAR */
.navbar-fixed-side .navbar-collapse {
      border-top: $brand-primary-darker;
  }

.table-responsive::-webkit-scrollbar,
.modal-container::-webkit-scrollbar {
  width:6px;
  background-color: #fff;
}

.navbar-fixed-side::-webkit-scrollbar {
  width: 6px;
  background-color: $brand-primary;
}

.table-responsive::-webkit-scrollbar-thumb,
.modal-container::-webkit-scrollbar-thumb,
.navbar-fixed-side::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #333;
}

.table-responsive::-webkit-scrollbar-track,
.modal-container::-webkit-scrollbar-track,
.navbar-fixed-side::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}